img[src$="jpg"]{
    width:80%;
}
img[src$="png"]{
    width:50%;
}
ul:active{
    color:white;
    background:red;
}
ul li:first-child{
    color:greenyellow;
}
li:last-child{
    color:aquamarine;
}
ul li{
    background:rgba(255, 0, 0, 0.548);
    width:200px;
}
ul strong{
    color:blue;
    font-size: large;
}
strong:hover{
    background:#eee;
    color:black;
}
h1 + p{
    color:blue;
}
#azul{
    color:aqua
}
#T3{
    color:rgb(255, 0, 157);
}
h3{
    color:rgb(255, 238, 0);
}
#azul p{
    color:rgb(0, 81, 255);
}
h4{
    color:blueviolet !important;
}
li:nth-child(2){
    color: rgb(0, 255, 34);
}
li:nth-child(2n){
    background:#eee;
}
ol li:first-child{
    background: #256;
    color:white;
}
ol li:not(.not){
    background-color: #F00;
}  
input[type="checkbox"]:checked{
    margin:0 200px 0 20px;
}