img[src$="jpg"]{
    width:80%;
}
img[src$="png"]{
    width:50%;
}
ul li{
    background:rgba(255, 0, 0, 0.548);
    width:200px;
}
ul strong{
    color:blue;
    font-size: large;
}
h1 + p{
    color:blue;
}
#azul{
    color:aqua
}
#T3{
    color:rgb(255, 0, 157);
}
h3{
    color:rgb(255, 238, 0);
}
#azul p{
    color:rgb(0, 81, 255);
}
h4{
    color:blueviolet !important;
}