td,th{
    border:1px solid gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius:3px;
}
td{
    color:rgb(77, 77, 77);
}
table{
    padding:6px;
    width:100%;
    border: 2px solid rgb(73, 73, 73);
    padding:2px;
    margin:auto;
    max-width:600px;
}
video{
    max-width:50%;
    margin-top:20px;
    margin-bottom:20px;
    margin:auto;
    text-align: center;
}